* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Open Sans", sans-serif ; 
}


.barra-encavezado{
    display:flex;
    padding: px;
}

.barra-encavezado2 {
    display:flex;
    margin-top: 7px;
    margin-left: 15px;
    padding-bottom: 25px;
    padding-top: 8px;
    
}

.tamañoimg{
    
cursor: pointer;
height: 25px;
width: 25px;
font-family: fantasy;
margin-left: 20px ;
margin-top: 28px;

}

.texdecoration {
    text-decoration: none;
    color: black;
}

.barra-busqueda{
    height: 50px;
    width: 1370px;
    padding-left: 10px;


}

.tamañoiconmenor{
    width: 12px; /*Ancho*/
    height: 7px; /*Largo*/
}
.tamañoiconlupa{
    height: 20px;
    width: 20px;
    margin-top: 10px;
   }

/* padding -(left-top-bottom-rigth)
padding -(izquierda-arriba-derecha-abajo)
 */
input {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: solid  #e8dfdf;
    border-left: white;
    background-color: #e2dfdf;
}

.cajalupa {
    border-top-left-radius: 30px;      
    border-bottom-left-radius: 30px;
    border: solid  #e8dfdf;
    border-right: white;
    background-color: #e2dfdf ;
    padding-left: 10px;
}

.inicio {
    padding-top: 29px;
    padding-left: 20px;
}
.explorar {
    padding-top: 29px;
    padding-left: 20px;
}

.crear {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.menor2 {
    padding: 32px;
}

.flexcolum {
    display: flex;
    
}

.elemento {
    position: relative;
    width: 210px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 1px;
    margin-top: 15px;
  }
  
  .elemento img {
    width: 210px;
    height: 500px;
    transition: transform 0.3s;
  }
  
    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .elemento:hover .overlay {
    opacity: 1;
  }

.icon-cargar img{
    width: 15px;
    height: 10px;

}
.icon-menor img{
    width: 10px;
    height: 3px;
}
.icon-puntos img{
    width: 10px;
    height: 3px;
}

.caja-cargar {
    display: flex;
    justify-content: center;
    margin-top: 40%;
    margin-left: 70%;
}

    
.imagen1 {
    height: 50px;
}


.caja-perfil-guardar {
    display: flex;
    padding-bottom: 140%;
            
}


.caja-perfil {
    display: flex;
    padding: 10px;
    margin-right: 50px;
    
}

.guardar{
   
    background-color: rgb(180, 8, 14);
    border-radius: 30px;
    border: #a30000;
    padding: 10px;
    color: #ffffff;
}

.menor3 img {
    width: 15px;
    height: 10px;
}

.buttoncargar {
    background-color: white;
    border-radius: 99px;
    padding: 10px;
   
}

.buttonpuntos {
    background-color: white;
    border-radius: 99px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
   
}


@media (max-width: 1000px) {
    body {background-color: #e93434;}
    }