* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.Barra {
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  gap: 7px;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 12px;
  background-color: rgb(255, 255, 255);
  color: white;
  height: 150px;
  text-decoration: none;
}

 main {background-color: rgb(255, 255, 255);
  height: 71vh;
  display: flex;
  flex-direction: column;
  justify-content:space;
  align-items: center;
  gap: 1px;
}

footer{ background-color: rgb(240, 239, 239);
  height: 5%;

}

#buscar {
  width: 600px;
  height: 47px;
  border-radius: 45px 45px 45px 45px;
  padding-left: 40px ;
  

}

img {
width: 450px;}


.imagen-aplicaciones {
width: 30px;
}

#botonera {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  
}

.letra_boton {
height: 30px;
width: 150px;
border-radius: 3px;
font-size: 15px;
border: 15px;

}


.caja3 {
  padding: 10px 10px;
  border-bottom: 1px solid #e4e0e0;
  font-size: 20px;
  color: #030000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:withe;
}

.caja4 {
  padding: 10px 10px;
  border-bottom: 1px solid #cbcbcb;
  font-size: 20px;
  color: #030000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:withe;
}

.Box1 {
  padding: 11px 2px;
}

.Box4 { 
  padding: 11px 23px;
  background-color: #1a73e8;
  border: #e4e0e0;
  border-radius: 3px;
  

}

.Box2 {
  padding: 1px 2px;
  

}

.Box {
  padding: 4px 2px;
}


a {
  text-decoration: none;
color: #000000;
}


.imagenbuscador {

  width: 26px;
  height: 27px;
  
}
.barra-buscar {

  border-radius: 70px;
  border: solid 1px rgb(208, 203, 203);
  display: flex;
  justify-content: space-around;

}

.cajabuscador1{

  padding: 8px 550px 7px 2px ;
}
.cajabuscador2{
  padding: 11px 5px 5px 5px ;
}
.cajabuscador3{
  padding: 9px 5px 5px 5px ;
}

.pie-caja1 {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgb(175, 174, 174) ;
  color: #70757a;
  
}
.pie-caja2 {
  display: flex;
  
}
.pie-caja3 {
  display: flex;
  
}

.pie-p {

  margin: 18px;
  
}

.pie-p2 {

  padding: 20px;
  color: #000000
  
  
}

#border {
  border-left: black;
}


body{
  font-family: 'Roboto', sans-serif;
  color: white;
  }

